{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    .login-wrapper {
        margin: 2em auto;
        max-width: 400px;
        width: 90%;
        font: 18px/1.5 sans-serif;
        text-align: center;
    }
    .logo {
        max-width: 120px;
        margin: 2rem auto;
        display: block;
    }
</style>

<img src="/images/logo-software.svg" alt="Logo" class="logo">

<div class="login-wrapper">
    <h1>Login</h1>
    <!-- Inserisci qui il tuo form di login -->
</div>
{% endblock %}
